body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00072d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DIVIDERS */
.divider {
  height: 30px;
}

.divider-small {
  height: 20px;
}

/* ANIMATIONS */
/* scroll */
.revealUp {
  opacity: 0;
  visibility: hidden;
}


/* NAVIGATION BAR */
.navbar {

  /* ff 3.6+ */
  background:-moz-linear-gradient(180deg, rgba(0, 7, 45, 1) 75%, rgba(0, 7, 45, 0) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(180deg, rgba(0, 7, 45, 1) 75%, rgba(0, 7, 45, 0) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(180deg, rgba(0, 7, 45, 1) 75%, rgba(0, 7, 45, 0) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00072D', endColorstr='#00072D', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(180deg, rgba(0, 7, 45, 1) 75%, rgba(0, 7, 45, 0) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(180deg, rgba(0, 7, 45, 1) 75%, rgba(0, 7, 45, 0) 100%);

  position: fixed; 
  width: 100%;
  top: 0;
  z-index:100;
}

.navbar p {
  color:#a6e1fa;
}

/* FOOTER */
.footer {
  height: 20vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer .rights {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer .rights p {
  color:#a6e1fa
}

/* WEBSITE CONTAINER */
#website-container {
  text-align: center;
  width: 100%;
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  width: 100%;
}

/* LANDING */
.landing-container {
  height: 120vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container .typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0a2472 }
}

.landing-container .typewriter h1 {
  color: #a6e1fa;
  font-size: 60px;
  line-height: 1.2;
  margin: 0;
}

.landing-container .typewriter h2 {
  color: #0e6ba8;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
}

/* ABOUT ME */
.about-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: #00072d;
}

.about-container .header {
  display: block;
  width: 100%;
}

.about-container .about-me {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-left: 30px;
  padding-right: 30px;
}

.about-container .about-me p {
  color: #a6e1fa;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

.about-container .about-me b {
  color: #0e6ba8;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

.about-container h1 {
  color: #a6e1fa;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

/* SKILLS */
.skills-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: #00072d;
}

.skills-container .header {
  display: block;
  width: 100%;
}

.skills-container .header h1 {
  color: #a6e1fa;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.skills-container .skills p {
  color: #a6e1fa;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

.skills-container .skills .technologies {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  padding-left: 30px;
  padding-right: 30px;
}

.skills-container .skills .technologies .column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container .skills .technologies .column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container .skills .technologies .column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container .skills .technologies p {
  color: #a6e1fa;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

/* PROJECTS */
.projects-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00072d;
}


/* EXTERNAL LINKS AND CONTACT */
.contacts-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001c55;
}