body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D1B2A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DIVIDERS */
.divider {
  height: 30px;
}

.divider-width {
  width: 10px;
}

.divider-small {
  height: 20px;
}

.divider-large {
  height: 75vh;
}

.divider-medium {
  height: 20vh;
}

.divider-small-vh {
  height: 10vh;
}

.divider-smaller-vh {
  height: 4vh;
}

.divider-smallest-vh {
  height: 2vh;
}

/* ANIMATIONS */


/* NAVIGATION BAR */
#navbar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 150px;
  padding: 10px;
  z-index: 9999;
  overflow: hidden;
  max-height: 200px;
}

#navbar .links {
  cursor: pointer;
}

#navbar p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: italic;
  color: #415A77;
  text-align: right;
}

/* FOOTER */
.footer {
  height: 20vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer .rights {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer .rights p {
  color:#E0E1DD
}

/* WEBSITE CONTAINER */
#website-container {
  text-align: center;
  width: 100%;
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  width: 100%;
}

/* LANDING */
.landing-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-container .column1 {
  width: 40%;
  color: #fff;
}

.landing-container .column1 .picture {
  width: 80%;
  height: 80%;
}

.landing-container .column2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 1%;
}

.landing-container .column2 .heading {
  width: fit-content;
}

.landing-container .column2 .heading .typewriter h1 {
  color: #E0E1DD;
  font-family: monospace;
  font-size: 4rem;
  line-height: 1.2;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #0a2472; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0a2472 }
}

.landing-container .column2 h2 {
  color: #778DA9;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}

/* MINI ABOUT ME */
#miniaboutme-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  overflow-x: hidden;
}

#miniaboutme-content .h1_text {
  text-align: center;
  color: #E0E1DD;
  font-size: 3rem;
  max-width: 100%;
  font-style: italic;
}

/* ABOUT ME */
.about-container {
  min-height: 100vh;
  width:100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.about-container #about-content {
  background-color: #1B263B;
  width: 80%;
  position: relative;
  align-self: center;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  align-items: start;
  border-radius: 3%;
}

.about-container #about-content .column1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  padding: 5%;
}

.about-container #about-content .column1 .aboutmeImage {
  align-self: center;
  width: 80%;
  height: 80%;
  border-radius: 4%;
}

.about-container #about-content .column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  padding: 5%;
}

.about-container #about-content .column2 .header {
  display: block;
  width: 100%;
}

.about-container #about-content .column2 .header h1 {
  color: #E0E1DD;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.about-container #about-content .column2 .header b {
  color: #415A77;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.about-container #about-content p {
  color: #E0E1DD;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

.about-container #about-content b {
  color: #778DA9;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}


/* SKILLS */
.skills-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.skills-container .header {
  display: block;
  width: 100%;
}

.skills-container .header h1 {
  color: #E0E1DD;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.skills-container .header b {
  color: #415A77;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.skills-container .skills p {
  color: #E0E1DD;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

.skills-container .skills .technologies {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.skills-container .skills .technologies .logo {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container .skills .technologies .text {
  color: #E0E1DD;
  font-size: 27px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

/* PROJECTS */
.projects-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container .header {
  display: block;
  width: 100%;
}

.projects-container .header h1 {
  color: #E0E1DD;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.projects-container .header b {
  color: #415A77;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.projects-container .project-stack {
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .projects-container .project-stack {
    display: grid;
    max-width: 90%;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
  }
}

/* PROJECTS CARD */
/* Link to this card */
/* https://codepen.io/aron-tw/pen/pLJqgE */
.project-card * {
  box-sizing: border-box;
  font-weight: normal;
}

.project-card h1 {
  font-size: 30px;
  text-align: center;
  color: #E0E1DD;
}
.project-card .front h2 {
  font-size: 20px;
  text-align: center;
  color: #415A77;
  font-weight: bold;
}
.project-card .flip {
  position: relative;
}
.project-card .flip > .front, .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.project-card .flip > .front {
  transform: rotateY(0deg);
}
.project-card .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.project-card .flip:hover > .front {
  transform: rotateY(180deg);
}
.project-card .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.project-card .flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 350px;
}
.project-card .flip > .front, .flip > .back {
  display: block;
  color: #E0E1DD;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #1B263B;
  border-radius: 10px;
}
.project-card .flip > .front p, .flip > .back p {
  font-size: 15px;
  line-height: 160%;
  color: #415A77;
  font-weight: bold;
}
.project-card .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.project-card .flip .back h2 {
  font-size: 21px;
  color: #E0E1DD;
  align-self: center;
}

.project-card .flip .back .logos {
  align-self: center;
  height: 2rem;
  width: 2rem;
}

/* EXTERNAL LINKS AND CONTACT */
.contacts-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-container .header {
  display: block;
  width: 100%;
}

.contacts-container .header h1 {
  color: #E0E1DD;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.contacts-container .header b {
  color: #415A77;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.contacts-container .logos-tray {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  justify-self: center;
  background-color: #1B263B;
  border-radius: 1rem;
  padding: 1rem;

}

.contacts-container .logos {
  height: 3rem;
  width: 3rem;
}

/* WEB-BASED PROJECTS */

/* TICTACTOE GAME */
#tictactoe-container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar-ttt {
  position: fixed; 
  width: 100%;
  top: 0;
  z-index:100;

  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-ttt p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: italic;
  color: #415A77;
  text-decoration: none;
}

#tictactoe-container #content {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 0.5rem;
  justify-items: start;
  align-items: start;
}

#tictactoe-container #content #column1 {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tictactoe-container #content #column1 .back-button {
  width: 50%;
  align-self: center;
  color: #778DA9;
}

#tictactoe-container #content #column1 h2 {
  color: #E0E1DD;
}

#tictactoe-container #content #column1 h3 {
  color: #778DA9;
}

#tictactoe-container #content #column2 {
  display: flex;
  flex-direction: column;
}

#tictactoe-container #content #column2 .heading {
  width: fit-content;
  position: relative;
  padding: 0;
  text-align: left;
}

#tictactoe-container #content #column2 .heading .typewriter h1 {
  color: #E0E1DD;
  font-family: monospace;
  font-size: 2rem;
  line-height: 1.2;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #0a2472; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* TICTACTOE BOARD */
#tictactoe-container #content #column2 ol, ul {
  padding-left: 30px;
}

#tictactoe-container #content #column2 .board-row:after {
  clear: both;
  content: "";
  display: table;
}

#tictactoe-container #content #column2 .status {
  margin-bottom: 10px;
}

#tictactoe-container #content #column2 .square {
  background: #778DA9;
  border: 3px solid #00072d;
  float: left;
  color: #E0E1DD;
  font-size: 3rem;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  line-height: 20vh;
  height: 20vh;
  width: 20vh;
}

#tictactoe-container #content #column2 .square:focus {
  outline: none;
}

#tictactoe-container #content #column2 .kbd-navigation .square:focus {
  background: #778DA9;
}

#tictactoe-container #content #column2 .game {
  display: flex;
  flex-direction: row;
}

#tictactoe-container #content #column2 .game-info {
  margin-left: 20px;
}

#tictactoe-container #content #column2 .game-info h2 {
  color: #E0E1DD;
}
